
body{
	font-size: 100%;
}

.imgHolder{
	width: 35%;
	margin: 0 auto;
	overflow: visible;
	/*margin-top: -400px;*/

}

.svgPositioning{
	position: absolute;
	width:35%;
	overflow: visible;
		-moz-animation: hover 3s linear 0s infinite;
	-webkit-animation: hover 3s linear 0s infinite;
	-o-animation: hover 3s linear 0s infinite;
	animation: hover 3s linear 0s infinite;

}

.theText{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom:10%;
	font-family: 'Gentium Basic', serif;
	font-style: italic;
	color:#040A63;
	font-size:1em;
}

@-webkit-keyframes hover {  

	0% {
		margin-top: 0px;
	}

	50% {
		margin-top: 50px;
	}


	100% {
		margin-top: 5px;
	}

}
@-moz-keyframes hover {  

	0% {
		margin-top: 0px;
	}

	50% {
		margin-top: 50px;
	}

	100% {
		margin-top: 5px;
	}

}

@-o-keyframes hover {  

	0% {
		margin-top: 0px;
	}

	50% {
		margin-top: 50px;
	}

	100% {
		margin-top: 5px;
	}

}

@keyframes hover {  

	0% {
		margin-top: 0px;
	}

	50% {
		margin-top: 50px;
	}

	100% {
		margin-top: 5px;
	}

}

@media (min-width: 2000px) {
	body{
		font-size:130%;
	}

}

@media (min-width: 3000px) {
	body{
		font-size:150%;
	}

}

@media (min-width: 4000px) {
	body{
		font-size:170%;
	}

}