html, body{
	background-color: #eee;
	margin, padding:0px;
	height:100%;
	font-family:'Dosis', sans-serif;
}

.example {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

svg{
	font: 10px sans-serif;
}

.avail{
	vertical-align: 2px;

}

.filters{
	/*height:200px;*/
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color: rgba(255,255,255,0.8);
	/*display: none;*/
	padding:5px;
	text-align: center;
}

.filtersBulk{
	margin:0 auto;
}

.filters h4, .filters p{
	display: inline;
}

.filters .gap{
	padding-left: 25px;
	border-left: 2px solid #000;
	margin-left: 25px;
}

.column{
	width:33%;
	position:relative;
}

.brush .extent {
  stroke: #fff;
  fill:#fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.mini text{
	 font: 8px sans-serif;
}

.main{
	 clip-path: url(#clip);
}

.mainSvg{
	/*padding-top: 2.5%;*/
	font-family:'Dosis', sans-serif;
}

.sliderHolder{
	width:100%;
	display: inline-block;
	font-size: 9px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: 2px;

}

.theCircles{
	cursor: pointer;
}

.callout{
	width:300px;
	height:150px;
	background-color: #fff;
	left:100px;
	top:200px;
	position: absolute;
}

.callout1{
	border-radius:0px 20px 20px 20px;
}

.callout2{
	border-radius:20px 0px 20px 20px;
}

.bold{
	font-weight: bold;
}

.imgHolder{
	position: absolute;
	top:10px;
	left:10px;
	width:125px;
	height:125px;
	overflow: hidden;
}

.closer i{
	color:#2980b9;
}

.hidden{
	display: none;
}

.closer{
	position: absolute;
	right:10px;
	top:3px;
	font-size: 70%;
	z-index: 2;
	cursor: pointer;
}
.imgHolder img{
	width:125px;
	height:auto;
}

.textHolder {
	position: absolute;
	top:10px;
	left:140px;
	width:150px;
	z-index: 1;
}

.callout p{
	margin:0px;
	margin-bottom:5px;
}

.callout1::after {
	content:"";
   position: absolute;
   right: 100%;
   top: 0px;
   width: 0;
   height: 0;
   /*border-top: 0px solid transparent;*/
   border-right: 15px solid #fff;
   border-bottom: 60px solid transparent;
}

.callout2::after {
	content:"";
   position: absolute;
   left: 100%;
   top: 0px;
   width: 0;
   height: 0;
   border-top: 0px solid transparent;
   border-left: 15px solid #fff;
   border-bottom: 60px solid transparent;
   mouse-events:none;
}

.infoBlock{
	/*width:auto;*/
	/*margin: 0 auto;*/
	width:80%;
	float: left;
	padding: 0 2.5% 5% 0%;
	/*border-right: #000 1px solid;*/
}

.mainSvg{
	overflow: visible;
}

.chartHolder .infoBlock{
	border-right: #000 1px solid;
}

.wrapper{
	width:80%;
	max-width:1500px;
	margin: 0 auto;
}

.clearer{
	clear: both;
}

.paraHolder{
	float:left;
	padding:5%;
	width:80%;
}

.controls{
	float:right;
}