@import './../styles/variables';


/* embla default styling */
.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.buttonHolder {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: $border;
  display: grid;
  grid-auto-flow: column;
  width: min-content;
  height: min-content;
  background: #fff;
}

