@import './../styles/variables';


/* embla default styling */
.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 20rem;
  @media screen and (min-width: $med) {
    --slide-height: 30rem;
  }
  position: relative;
  height: min-content;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.buttonHolder {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: grid;
  grid-auto-flow: column;
  width: min-content;
  height: auto;
  background: #fff;
}

.embla_thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 5rem;
  margin-top: var(--thumbs-slide-spacing);
}
.embla_thumbs__viewport {
  overflow: hidden;
}
.embla_thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
  height: 100px;
}


