@import './../styles/variables';

.heroStarter {
    position: relative;
   	margin-top: 2em;
   	aspect-ratio: 1.75 /1;
   	max-height: calc(100vh - 2em);
   	
   	@media (min-aspect-ratio: 7/5) and (max-aspect-ratio: 7.5/5) {
   		top: 50%;
    	transform: translateY(-50%);
  	}

	.backText {
	}

	.frontText {
		transform: translate(1%, -53%);
	}

	.contrastText {
		color: $accent;
	}

	@media (orientation: landscape) {
	  body {
	    max-height: 100vw;
	  }
	}

	@media (orientation: portrait) {
	  body {
		max-height: 150vw;
	  }
	}
}

.titleHolder {
	position: absolute;
	background-position: center top;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);

	img {
		width: 100%;
	}
}

.sceneHolder {
	width: 100%;
	max-height: 100%;
	aspect-ratio: 139 / 150;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
