@import './../styles/variables';

.heroStarter {
    position: relative;
   	margin-top: 4em;
   	margin-bottom: 2em;
   	aspect-ratio: 68 / 110;
   	


   	@media screen and (min-width: $med) {
   		margin-top: 2em;
   		margin-bottom:0px;
   		height: unset;
   		aspect-ratio: 1.75 /1;
   		max-height: calc(100vh - 2em);

	   	@media (min-aspect-ratio: 7/5) and (max-aspect-ratio: 7.5/5){
	   		top: 50%;
	    	transform: translateY(-50%);
	  	}
	}

	.backText {
	}

	.frontText {
		transform: translate(1%, -48.5%);
		@media screen and (min-width: $med) {
			transform: translate(1%, -53%);
		}
	}

	.contrastText {
		color: $accent;
	}

}

.titleHolder {
	position: absolute;
	background-position: center top;
	width: 100%;
			top: 50%;
		transform: translateY(-50%);

	@media screen and (min-width: $med) {

	}

	img {
		width: 100%;
	}
}

.sceneHolder {
	width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	aspect-ratio: 1 / 2;
	@media screen and (min-width: $med) {
		aspect-ratio: 139 / 150;
	}
}
