@import './../styles/variables';


.linkStyled {

	a {
		text-decoration: none;
		display: flex;
		gap: 5px;
		flex-direction: row;
		align-items: center;

		svg {

			width: 12px; 

			@media screen and (min-width: $med) {
				width: 14px; 
			}

			@media screen and (min-width: $big) {
				width: 16px; 
			}

			@media screen and (min-width: $xbig) {
				width: 22px; 
			}
		}
	}

	span {
		color: $min-contrast;
		margin-top: 3px;
		font-size: 87.5%;
	}

	path {
		fill: $accent;
		fill-opacity: 1;
		filter: drop-shadow(0px 0px 0px #fff);
		transition: filter 0.5s;
	}

	:hover {
		path {
			filter: drop-shadow(0px 0px 6px #bdff00);
			transition: filter 0.5s;
		}
		svg {
  			animation: pulse 750ms infinite;
		}
	}
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}


