@import './../styles/variables';

.buttons {
	padding: 5px;
	display: grid;
    grid-auto-flow: column;
    float: right;
    grid-column-gap: 5px;
    justify-content: space-between;
    background-color: $accent;
  	border-radius: 4px;
  	width: max-content;
  	min-height: 0;
  	overflow: hidden;
  	position: relative;

    @media screen and (min-width: $med) {
        padding: 10px;
        grid-column-gap: 10px;
    }

  	button {
  		font-size: 75%;
  		background-color: rgba(0, 0, 0, 0);
  		border: 1px solid black;
  		padding: 8px 8px 6px;
  		border-radius: 4px;

  		&:not(.active) {
  			border: 1px solid rgba(0, 0, 0, 0);
  			opacity: 75%;
  		}
  	}

    > div {
        min-width: 20px;
    	width: max-content;
    	min-height: 0;
  		overflow: hidden;
        position: relative;

  		svg {
  			height: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
  		}
    }

}




