@import './../styles/variables';

.projHolder {
	margin-bottom: 50px;
	@media screen and (min-width: $big) {
		margin-bottom: 100px;
	}
}

.projHeader {
	padding: 6px 20px 8px;
	color: black;
	text-shadow: $text-fuzz;
	@media screen and (min-width: $big) {
		padding: 5px 20px 10px;
	}
}

.projBody {
	padding: 15px 0px; 
	@media screen and (min-width: $big) {
		padding: 25px 20px;
	}
}

.linkHolder {
	font-size: 0.875em;
	margin-bottom: 0.5em;
	a {
		color: black;
	}
	> * {
		margin-right: 5px;
	}
}

.bodyInfo {
	margin: 10px 20px 0px;
	@media screen and (min-width: $big) {
		margin: 0px;
	}

	li {
		text-shadow: $text-fuzz;
		margin-bottom: 10px;
		@media screen and (min-width: $big) {
			margin-bottom: 15px;
		}
	}

	p:first-of-type {
		font-weight: bold;
		margin-top: 40px;
	}
}

.projContent {
	@media screen and (min-width: $big) {
	    display: grid;
	    grid-auto-flow: column;
	    grid-column-gap: 40px;
	    grid-template-columns: 1fr 1fr;
  	}
	
}

.flare:not(.hideOnBig) {
	text-align: center;
	margin-top: 20px;
}
