@import './../styles/variables';

.projHolder {
	margin-bottom: 50px;
	border-top: 1.25pt solid $accent;
}

.projHeader {
	padding: 6px 20px 8px;
	background-color: black;
	color: #fff;
	@media screen and (min-width: $big) {
		padding: 5px 20px 10px;
	}
}

.projBody {
	padding: 15px 20px; 
	@media screen and (min-width: $big) {
		border: $border;
	}
}

.linkHolder {
	font-size: 0.875em;
	margin-bottom: 0.5em;
	a {
		color: black;
	}
	> * {
		margin-right: 5px;
	}
}

.bodyInfo {
	margin-top: 10px;
	@media screen and (min-width: $big) {
		margin-top: 0px;
	}
}

.projContent {
	@media screen and (min-width: $big) {
	    display: grid;
	    grid-auto-flow: column;
	    grid-column-gap: 40px;
	    grid-template-columns: 1fr 1fr;
  	}
	
}

.flare:not(.hideOnBig) {
	text-align: center;
	margin-top: 20px;
}
