@import './../styles/variables';


.embla_thumbs__slide {
  flex: 0 0 28%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
  position: relative;
}

.embla_thumbs__slide__button {
  -webkit-appearance: none;
  background-color: $accent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  
  img {
    opacity: 0.2;
    transition: opacity 0.2s;
  }
}
.embla_thumbs__slide__selected .embla_thumbs__slide__button {
  img {
    opacity: 1;
  }
}

.embla_thumbs__slide__img {
  display: block;
  height: var(--thumbs-slide-height);
  width: 100%;
  object-fit: cover;
}