html, body{
	font-family: 'Dosis', sans-serif;
	background-color: #efefef;
	font-size: 100%;
}

.actors{
	font-size: 12px;
}

svg{
	shape-rendering: auto;
	overflow: visible;
}


.link {
  fill: none;
  /*stroke: #666;*/
  /*stroke-width: 1.5px;*/
  stroke-width:1;
}



.svgHolder{
	width:100%;
	/*height:800px;*/
}

.popUp{
	width:300px;
	/*height:200px;*/
	position:absolute;
	background-color: #fff;
	font-size: 75%;
	padding:5px;
}

.popUp h1{
	font-size: 1.1em;
}

.popUp h2{
	font-size: 1em;
	font-weight: normal;
}

.hidden{
	display: none;
}

.bold{
	font-weight: bold;
}

.circleactors{
	cursor: pointer;
}

.dimmer{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	position: fixed;
	top:0px;
	left:0px;
}

.requestModal{
	width:40%;
	/*height:40%;*/
	background-color: #fff;
	border: 2px #000 solid;
	position: fixed;
	left:50%;
	margin-left: -20%;
	top:15%;
	padding:5%;
	max-height: 50%;
	overflow: scroll;
}

.requestModal h2{
	margin-top: 0px;
}

.requestModal h2, .requestModal h3{
	display: inline-block;
}

.requestModal h3:last-of-type{
	margin-left: 10px;
}

.requestModal button:last-of-type{
	margin-left: 10px;
}

.requestModal button{
	background-color: #2174CC;
	border: none;
	padding:8px;
	margin-top: 5px;
	color:#fff;
}

.themesOverlay{
	position: absolute;
	top:50px;
	right:50px;
	width:250px;
	max-height: 200px;
	overflow: scroll;
	background-color: rgba(200,200,200,0.8);
	padding:5px;
}

.themeDiv{
	display: inline-block;
	border-bottom: 2px  solid #000;
	width:100%;
}



.nodeDiv{
	background-color: rgba(255,255,255,0.7);
	width:100%;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
	box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
}

.nodeExtender{
	position: fixed;
    /*right: 0px;*/
    top: -20px;
}

.parentDiv{
	width:100%;
	height:100%;
	pointer-events:none;
}

.miniImageHolder{
	float: left;
	padding: 1px 1px 1px 4%;
}

.miniImageHolder img{
	max-height: 100px;
}


/*.header{
	width:96%;
	height:17px;
	padding: 2px 0px 2px 4%;
	overflow: hidden;
}

.header h1{
	color:#fff;
	font-size: 0.8em;
	margin:0px;
}*/

.header{
	width:96%;
	padding: 2px 0px 0px 4%;
	overflow: hidden;
}

.header h1{
	color:#000;
	font-size: 1em;
	margin:0px;
	max-height: 20px;
	overflow: hidden;
}

.theBod{
	padding: 0px 0px 0px 4%;
	font-size: 0.8em;
	overflow: hidden;
	/*float: right;*/
	/*max-height: 30px;*/
}

.theBod h2{
	color:#000;
	font-size: 0.9em;
}

.clearer{
	clear: both;
}
/*.theBod{
	padding:10px;
	padding-top: 0px;
	font-size: 0.7em;
}*/


.accordianButton{
	width:100%;
	text-align:center;
	padding:5px;
	color: #fff;
	cursor:pointer;
}

.themeAccordian{
	background-color: #A81414;
}

.entityAccordian{
	background-color: #073F7A;
}

.allAccordian{
	background-color: #333;
}

.objectList{
	overflow: scroll;
	max-height:160px;
}

.themeList li{
	cursor: pointer;
}

.themeList li:hover{
	text-decoration: underline;
}

.collapsed{
	height:0px;
	overflow: hidden;
	padding:0px;
}

.nodeLayer{
	clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.sectionNameLines text{
	font-size: 0.65em;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
