$pad: 20px;
$curve: 50px;
$labelWeight: 400;


.projectGrid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 100px min-content min-content min-content; 
	column-gap: $pad;
	margin-top: $pad;

	.imgHolder {
		height:40vh;
		min-height: 100px;
		width: 100%;
		object-fit: cover;
		border-radius: 10px;
		border-collapse: separate;
		overflow: hidden;
		position: relative;
	} 

	> div {
		width: 100%;
		margin-bottom: $pad;
	}

	> div:last-of-type {
		margin-bottom: $pad * 3;
	}
}

.arrowDown {
	height: 100%;
    border-right: 8px solid #fff;
    border-radius: 0px $curve 0px 0px;
    width: calc(100% - 16px);
    visibility: hidden;
}

.responsibilities {
	font-size: 18px;
}

.label{
	text-align: right;

	p {
		font-weight: $labelWeight;
	}
}