$accent: #DAFF70;
$fuzz: 0px 0px 11px 11px $accent;
$work-font: 'EB Garamond', serif;
$play-font: 'MuseoModerno', cursive;
$body-font: 'Epilogue', sans-serif;
$big: 500px;
$border: 1.25pt solid black;