$pad: 20px;
$xsmall: 400px;
$small: 600px;
$medium: 900px;
$large: 1200px;
$darkGrey: #1F1F1F;
$lightGrey: #adabab;
$gradient: radial-gradient(168.95% 336.15% at 166.89% 156.57%, #FFE871 0%, #4D6EC2 49.48%, #F97D7D 100%);
$curve: 50px;
$bodyText: 'IBM Plex Sans', sans-serif; 
$bodyWeight: 300;
$labelWeight: 400;