@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');
@import 'variables';

@font-face {
  font-family: "Carmin";
  src: url("https://portfolioasset.s3.eu-west-2.amazonaws.com/Carmin0.2-Light.woff2") format("woff2"),
       url("https://portfolioasset.s3.eu-west-2.amazonaws.com/Carmin0.2-Light.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  width: 100%;
  font-family: 'IBM Plex Sans', Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  line-height: 120%;
}

h1, h2, h3, h4, h5 {
	font-family: "Carmin", sans-serif;
 	font-weight: lighter;
}

h1 {
	font-size: 110px; 
	line-height: 100%;
	text-transform: uppercase;
	margin-bottom: $pad;

	@media screen and (max-width: $large) {
		font-size: 95px;
	}

	@media screen and (max-width: $medium) {
		font-size: 75px;
	}

	@media screen and (max-width: $small) {
		font-size: 45px;
	}


	@media screen and (max-width: $xsmall) {
		font-size: 36px;
	}
}

h2 {
	font-size: 36px;
	text-align: right;
	line-height: 120%;

	@media screen and (max-width: $medium) {
		font-size: 28px;
	}

	@media screen and (max-width: $small) {
		font-size: 24px;
	}

	@media screen and (max-width: $xsmall) {
		font-size: 18px;
	}
}

h3 {
	font-size: 36px;
	color: white;
	-webkit-text-fill-color: white;
	line-height: 120%;

	@media screen and (max-width: $medium) {
		font-size: 28px;
	}

	@media screen and (max-width: $small) {
		font-size: 24px;
	}

	@media screen and (max-width: $xsmall) {
		font-size: 22px;
	}
}

h4 {
	font-size: 32px;
	color: $lightGrey;
	-webkit-text-fill-color: $lightGrey;
	line-height: 136%;

	@media screen and (max-width: $medium) {
		font-size: 24px;
	}

	@media screen and (max-width: $small) {
		font-size: 22px;
	}

	@media screen and (max-width: $xsmall) {
		font-size: 18px;
	}
}

p {
	font-size: 20px;
	line-height: 136%;
	color: lightGrey;
	-webkit-text-fill-color: $lightGrey;
    font-family: $bodyText;
    font-weight: $bodyWeight;

    @media screen and (max-width: $medium) {
		font-size: 18px;
	}

	@media screen and (max-width: $xsmall) {
		font-size: 16px;
	}

}

ul, li {
	color: lightGrey;
	-webkit-text-fill-color: $lightGrey;
}


li {
  list-style: none;
  display: inline-block;
  font-family: "Carmin";
  font-weight: lighter;
  font-size: 24px;

  &:not(:last-of-type) {
    margin-right: $pad;
  }

  * {
  	font-size: 24px;

  	@media screen and (max-width: $medium) {
		font-size: 20px;
	}

	@media screen and (max-width: $small) {
		font-size: 18px;
	}

	@media screen and (max-width: $xsmall) {
		font-size: 16px;
	}
  }
}
