@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Epilogue:wght@400;700&family=MuseoModerno:ital,wght@1,300&display=swap');
@import 'variables';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: $bg;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
	border-collapse: collapse;
}

html, body { 
	font-size: 12px; 

	@media screen and (min-width: $big) {
		font-size: 14px; 
	}
}

h1, p.titleClone {
	font-family: "HappyOK";
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

p:not(.titleClone), li {
	font-family: $body-font;
	line-height: 156.25%;
	font-size: 1em;
	color: $min-contrast;
}

p:not(.titleClone) {
	margin-bottom: 1em;
}

a, a:hover, a:active {
	color: black;
}

body {
		margin: 0 auto;
}

.container {
	margin: 0 auto;
	max-width: $xbig;
	width: calc(100% - 40px);
	position: relative;
	@media screen and (min-width: $big) {
		width: calc(100% - 100px);
	}
}

.containerNoSmall {
	@media screen and (min-width: $big) {
		margin: 0 auto;
		max-width: 1280px;
	}	
}

.work {
	h1, h2, h3, button, p.titleClone {
		font-family: $work-font;
		font-style: italic;
	}

	button {
		font-size: 1.95em;
	}
}

.play {

	h1, h2, h3, button, p.titleClone {
		font-family: $play-font;
		font-style: italic;
	}

	button {
		font-size: 1.59em;
	}
}

button.navButton {
  	background: #FFFFFF;
	border: $border;
	padding: 2px 4px;
	height: 50px;
	color: #000;
	cursor: pointer;
  	@media screen and (min-width: $big) {
  		padding: 4px 8px;
  		margin-top: 25px;
  		height: 65px;
  	}

  	&.active {
    	background: #000;
    	color: #fff;
    }

    &:not(.active):hover {
    	animation-name: shine;
  		animation-duration: 300ms;
    }
}

@keyframes shine {
  0% {
    background: linear-gradient(30deg, $accent 0%, #fff 25%);
  }

  25% {
    background: linear-gradient(30deg, #fff 0%, $accent 25%, #fff 50%);
  }

  50% {
    background: linear-gradient(30deg, #fff 0%, $accent 50%, #fff 75%);
  }

  75% {
    background: linear-gradient(30deg, #fff 0%, $accent 75%, #fff 100%);
  }

  100% {
    background: linear-gradient(30deg, #fff 0%, $accent 100%);
  }
}


.abs {
 	position: absolute;
}

.hideOnSmall {
	display: none;
	@media screen and (min-width: $big) {
		display: block;
	}
}

.hideOnBig {
	display: block;
	@media screen and (min-width: $big) {
		display: none;
	}
}

.caption {
	font-size: 0.875em;
	font-style: italic;
}

.bold {
	font-weight: bold;
}


.listTransition-enter, .listTransition-appear {
	opacity: 0;
}

/* This is where we can add the transition*/
.listTransition-enter-active, .listTransition-appear-active {
	opacity: 1;
	transition: opacity 500ms;
}
