@import 'variables';

.navHolder {
  position: sticky;
  top: 25px;
  right: 0px;
  z-index: 3;
  margin-bottom: 50px;
}

.category {
  margin-bottom: 50px;
  margin-top: 0px;
  grid-area: 1 / 1 / 1 / span 8;

  @media screen and (min-width: $med) {
    grid-area: 1 / 2 / 1 / span 6;
  }

  h2 {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    color: $max-contrast;
  }

}

.catHolder {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}



.description {
  @media screen and (min-width: $big) {
    margin-bottom: 50px;
  }
}

.descriptionWrapper {
  @media screen and (min-width: $big) {
    margin: auto;
  }
}

.info {
  display: grid;
  @media screen and (min-width: $big) {
    height: auto;
  }
}

.nav {
  position: sticky;
  top: 0px;
}

.clickableSpan {
  text-decoration: underline;
  cursor: pointer;
}

.ender {
  width: 100vw;
  background-color: $accent;
  margin-top: 20px;
  @media screen and (min-width: $big) {
    margin-top: 50px;
  }
}

.enderHolder {
  max-width: 1200px;
  margin: 0 auto;

  h3, p {
    margin-bottom: 25px;
    color: #000;
  }

  padding: 20px 0px;
  @media screen and (min-width: $big) {
    padding: 50px 0px;
  }
}

.headerHolder {
  @media (min-aspect-ratio: 7/5) and (max-aspect-ratio: 7.5/5) {
    height: calc(100vh - 2em);
  }
}

.linksHolder {
  position: absolute;
  top: -3em;
  right: 0px;

  @media screen and (min-width: $med) {
    top: -1.5em;
  }
}



.descriptionHolder {
  position: relative;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 50px;
  pointer-events: none;

  @media screen and (min-width: $med) {
    position: absolute;
    bottom: 15%;
    margin-bottom: 0px;
  }

  p {
    grid-area: 1 / 1 / 1 / span 8;
    margin-bottom: 0px;
    pointer-events: all;

    @media screen and (min-width: $sm) {
      grid-area: 1 / 2 / 1 / span 6;
    }

    @media screen and (min-width: $med) {
      grid-area: 1 / 1 / 1 / span 4;
      background-color: $bg-transparent;
      box-shadow: 0 0 15px 20px $bg-transparent;
      color: #fff;
    }

    @media screen and (min-width: $big) {
      grid-area: 1 / 1 / 1 / span 2;
    }

  }

}