@import 'variables';

.header {
  padding-top: 15px;
  min-height: 50px;
  @media screen and (min-width: $big) {
    height: 100vh;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}

.navHolder {
  position: sticky;
  top: -1px;
  z-index: 2
}

.category {
  margin-bottom: 50px;
  margin-top: -25px;
  @media screen and (min-width: $big) {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 50px;
    margin-top: 50px;
  }
}

.catHolder {
  display: grid;
  background-color: $accent;
  box-shadow: $fuzz;
  border-radius: 50%;
  transform: rotate(-10deg);
  border: $border;
  padding: 15px;
  margin: auto;
  margin-bottom: 50px;
  width: fit-content;
  @media screen and (min-width: $big) {
    width: 100%;
    padding: 5px;
    margin: auto;
  }

  h2 {
    margin: auto;
    transform: rotate(10deg);
  }
}

.description {
  @media screen and (min-width: $big) {
    margin-bottom: 50px;
  }
}

.descriptionWrapper {
  @media screen and (min-width: $big) {
    margin: auto;
  }
}

.info {
  display: grid;
  @media screen and (min-width: $big) {
    height: auto;
  }
}

.nav {
  position: sticky;
  top: 0px;
}

.clickableSpan {
  text-decoration: underline;
  cursor: pointer;
}

.ender {
  width: 100vw;
  background-color: $accent;
  margin-top: 20px;
  @media screen and (min-width: $big) {
    margin-top: 50px;
  }
}

.enderHolder {
  h3, p {
    margin-bottom: 25px;
  }
  padding: 20px 0px;
  @media screen and (min-width: $big) {
    padding: 50px 0px;
  }
}

.headerHolder {
  @media (min-aspect-ratio: 7/5) and (max-aspect-ratio: 7.5/5) {
    height: calc(100vh - 2em);
  }
}

.linksHolder {
  position: absolute;
  top: -1.5em;
  right: 0px;
}



.descriptionHolder {
  position: relative;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  @media screen and (min-width: $med) {
    position: absolute;
    bottom: 15%;
  }

  p {
    grid-area: 1 / 1 / 1 / span 8;
    margin-bottom: 0px;

    @media screen and (min-width: $sm) {
      grid-area: 1 / 2 / 1 / span 6;
    }

    @media screen and (min-width: $med) {
      grid-area: 1 / 1 / 1 / span 4;
      background-color: $bg-transparent;
      box-shadow: 0 0 15px 20px $bg-transparent;
      color: #fff;
    }

    @media screen and (min-width: $big) {
      grid-area: 1 / 1 / 1 / span 2;
    }

  }

}