@import 'variables';

.title {
  height: calc(100vh - $pad);
  width: 100%;
}

.containerOuter {
  min-height: 100vh;
  margin: 0rem;
  position: relative;
}

.containerInner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  max-width: 1200px;
  text-align: left;
  width: 100%;
}

.splash {
  height: 100vh;
  max-height: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px $pad;
}

.titleInfo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr; 
  column-gap: $pad;
  margin-top: $pad * 1.5;

  p {
    font-size: 120%;
    line-height: 140%;
  }

  .detailInfo {
    margin-top: $curve;
  }


}

.projectList {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;

  @media screen and (max-width: $medium) {
    width: 100%;
    padding: 0px $pad;
  }
}
